// vars
$cblue: #123654;
$clight: #f1f3f5;
$cred: #880019;
$cwhite: #fff;
$cblack: #000;

* {
  line-height: 1.4 !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.-translate-xy {
  transform: translate(-50%, -50%);
}

.truncate-dots {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-image-from-content,
.remove-image-from-content * {
  image {
    display: none !important;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

[type="text"],
[type="email"],
[type="password"],
[type="number"],
[type="tel"],
[multiple],
textarea,
select {
  &.el-input__inner:focus {
    box-shadow: none;
    border: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// custom styles
body {
  font-family: "Gotham Pro", sans-serif;
  overflow-x: hidden;
}

.tinymce-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.17em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.83em;
  }
  h6 {
    font-size: 0.67em;
  }

  /* Paragraph */
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* Anchor */
  a {
    /* Default color for links can vary */
    font-weight: 700;
    color: #5d0378;
  }

  /* Images */
  img {
    border-style: none; /* Images do not have borders by default */
  }

  /* Unordered and Ordered Lists */
  ul,
  ol {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px; /* Default padding for list indentation */
  }

  li {
    margin-bottom: 0.25em; /* Space between list items */
  }

  /* Table */
  table {
    border-collapse: collapse; /* Borders are collapsed into a single border */
  }

  th,
  td {
    border: 1px solid black; /* Default border for table cells */
    padding: 0.5em; /* Padding inside cells */
  }

  /* Input, TextArea, Button, Select, and Option */
  input,
  textarea,
  button,
  select,
  option {
    margin: 0; /* No default margin */
    padding: 0.25em; /* Default padding */
    font-family: inherit; /* Inherits font family from parent */
    font-size: 100%; /* Inherits font size from parent */
    line-height: 1.15; /* Default line height */
  }

  /* Specific to Form Elements */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    border: 1px solid #ccc; /* Default border color */
    background-color: white; /* Default background */
  }

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: #eee; /* Default background */
    border: 1px solid #ccc; /* Default border */
    padding: 0.5em 1em; /* Padding inside the button */
    cursor: pointer; /* Cursor changes to pointer on hover */
  }

  /* Note: This is a general representation. Browsers may have slightly different defaults. */
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #5d0378e0 !important;
  border-radius: 10px;
  opacity: 0.5 !important;
}

.custom-container {
  width: 100% !important;
  margin: 0 auto;
}

/* responsive */
@media (min-width: 576px) {
  .custom-container {
    max-width: 576px !important;
  }
}
@media (min-width: 640px) {
  .custom-container {
    max-width: 640px !important;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 768px !important;
  }
}
@media (min-width: 895px) {
  .custom-container {
    max-width: 895px !important;
  }
}
@media (min-width: 1024px) {
  .custom-container {
    max-width: 1024px !important;
  }
}
@media (min-width: 1280px) {
  .custom-container {
    max-width: 1280px !important;
  }
}
@media (min-width: 1320px) {
  .custom-container {
    max-width: 1320px !important;
  }
}

@media (min-width: 1023.9px) {
  .services-grid {
    grid-template-columns: repeat(6, 1fr);

    .item:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .item:nth-child(2) {
      grid-column-start: 4;
      grid-column-end: 7;
    }

    .item:nth-child(3) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .item:nth-child(4) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .item:nth-child(5) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .item:nth-child(6) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .item:nth-child(7) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .item:nth-child(8) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 5;
      grid-column-end: 7;
    }
    .item:nth-child(9) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .item:nth-child(10) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .item:nth-child(11) {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 5;
      grid-column-end: 7;
    }
  }
}

@media (max-width: 1023.9px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 767.9px) {
  .services-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
